<% include ../views/partials/header %>
  <div class="col-md-6">
    <form  action="/todo/edit/<%= todo._id %>" method="post">
      <div class="form-group">
        <label>Todo name</label>
        <input class="form-control" type="text" name="text" placeholder="Add todo" value="<%= todo.text %>">
      </div>
      <br>
      <div class="form-group">
        <label>Todo body</label>
        <input class="form-control" type="text" name="body" placeholder="Add body" value="<%= todo.body %>">
      </div>
      <button class="btn btn-primary" type="submit" >Add todo</button> <a class="btn btn-danger" href="/">Cancel</a>
    </form>
  </div>
<% include ../views/partials/footer %>
